# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebook |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers.
a=(3*4)+5
print(a)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
total_minutes = 200
one_hour = 60
desired_hours = total_minutes/one_hour
print (desired_hours)

3.3333333333333335

**Objectives:**
- NumPy
- SciPy
- Pandas

## Author
Syed Ahmed